body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1c3f;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #09142b;
}

header h1 {
    color: #ff0033;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: url('cl.jpeg') no-repeat center/cover;
}

.hero button {
    padding: 10px 20px;
    background: #ff0033;
    border: none;
    color: white;
    cursor: pointer;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.players {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #142a5c;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    border: none;
}

button {
    background: #ff0033;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    background: #09142b;
    text-align: center;
    padding: 20
